@charset "utf-8";
body,html,h1,h2,h3,h4,h5,h6,p,em,i,form,ul,li,dl,dt,dd{padding:0;margin:0;
    -webkit-text-size-adjust:none;
    -moz-text-size-adjust:none;
    -ms-text-size-adjust:none;
    text-size-adjust:none;
}
body{font-family:"Microsoft Yahei", Tahoma;font-size:12px;width:100%;}
em,i,b{font-style:normal;font-weight:normal;text-decoration:none;}
ul,li{list-style:none;}
h3{font-size:14px;}
a{text-decoration:none;outline:none;cursor:pointer;}
a:hover{}
input[type="submit"],input[type="button"],button{cursor:pointer;padding:0;}
input[type="text"],input[type="email"],input[type="number"],input[type="password"]{padding:0 0 0 3px;}
:focus,input,select,textarea,button{outline:none;}
textarea{resize:none;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;margin:0;padding:0;}
br{display:inline;line-height:20px;}
.of{overflow:hidden;}
.fl,.FL{float:left;}
.fr,.FR{float:right;}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:" ";clear:both;height:0;}
.clearfix{*zoom:1;}
.clear{ clear:both; padding:0px; margin:0px auto; font-size:0px;}
.b{font-weight:bold;}
.i{font-style:italic;} 
.u,a.detail:hover{text-decoration:underline;} 
.o{text-decoration:overline;}
.upc{text-transform:uppercase;} 
.img,.img img{display:block;overflow:hidden;}

/*header*/
/*kouqiang-topBar*/
.kouqiang-topBar {background-color:#fff;}
.kouqiang-topBarCon {width:1200px;height:110px;margin:0 auto;overflow:hidden;position:relative;}
.kouqiang-topBarCon a.logo {width:288px;height:84px;background:url(../images/logo.png) 0 0 no-repeat;display:block;position:absolute;left:0;top:16px;}
.kouqiang-topBarCon a.tel {width:250px;height:57px;background:url(../images/logo.png) 0 -178px no-repeat;display:block;position:absolute;right:0;top:31px;}
.kouqiang-topBarCon ul {padding-left:370px;padding-top:20px;}
.kouqiang-topBarCon li {line-height:20px;font-size:14px;color:#282828;}
.kouqiang-topBarCon li i {color:#036aae;font-size:14px;padding-right:5px;}
.kouqiang-topBarCon dl {position:absolute;padding:10px 0;overflow:hidden;right:276px;top:29px;}
.kouqiang-topBarCon dt {float:left;width:40px;line-height:22px;font-size:16px;color:#6b6b6b;border-right:#c0c0c0 solid 1px;padding-left:56px;position:relative;}
.kouqiang-topBarCon dt i {width:50px;height:50px;background:url(../images/logo.png) 0 -238px no-repeat;display:block;position:absolute;left:0;top:50%;margin-top:-25px;}
.kouqiang-topBarCon dd {float:left;line-height:22px;font-size:16px;color:#6b6b6b;border-left:#d7d7d7 solid 1px;padding-left:5px;}
/*导航栏*/
.nav-tab .tab li span{display:block;color:#fff;text-transform:capitalize;font-size:12px;line-height:16px;}
.nav-tab .tab li i{position:absolute;top:50%;transition:all .3s;-webkit-transition:all .3s;;width:42px;height:40px;display:block;left:16px;margin-top:-20px;}
.nav-tab .tab li i.bor2{background-position:0 0;}
.nav-tab .tab li i.bor1{background-position:-42px 0;}
.nav-tab .tab li i.bor3{background-position:-84px 0;}
.nav-tab .tab li i.bor4{background-position:-126px 0;}
.nav-tab .tab li i.bor5{background-position:-168px 0;}
.nav-tab .tab li i.bor6{background-position:-210px 0;}
.nav-tab .tab li.active{background-color:#fff;}
.nav-tab .tab li.active a {color:#00588b;}
.nav-tab .tab li.active span{color:#8cbcd7;}
.nav-tab .tab li.active i.bor2{background-position:0 -80px;}
.nav-tab .tab li.active i.bor1{background-position:-42px -80px;}
.nav-tab .tab li.active i.bor3{background-position:-84px -80px;}
.nav-tab .tab li.active i.bor4{background-position:-126px -80px;}
.nav-tab .tab li.active i.bor5{background-position:-168px -80px;}
.nav-tab .tab li.active i.bor6{background-position:-210px -80px;}
.nav-tab .nav-box{height:100%;overflow:hidden;margin-left: 200px;}
.nav-tab .nav-con{height:100%;display:none;background-color:#fff;width:1000px;}
.nav-tab .nav-item{width:481px;padding-top:26px;overflow:hidden;}
.nav-tab .nav-item dl{padding-bottom:10px;width:200px;margin-left:26px;margin-right:3px;float:left;height:115px;}
.nav-tab .nav-item dl.pb10{}
.nav-tab .nav-item .clearMargin {margin-right:0;}
.nav-tab .nav-item a.block {display:block;}
.nav-tab .nav-item dl dt{position:relative;height:36px;border-bottom:1px solid #d6d6d6;color:#515151;font-size:14px;line-height:36px;font-weight:bold;}
.nav-tab .nav-item dl dt a{position:absolute;top:0;right:0;color:#515151;}
.nav-tab .nav-item dl dd{padding-top:10px;line-height:0;font-size:0;}
.nav-tab .nav-item dl dd a{margin-right:17px;color:#515151;font-size:12px;line-height:22px;display:inline-block;}
.nav-tab .nav-item dl dd a.pr0{padding-right:0;}
.nav-tab .nav-item dl dd a.pr40{padding-right:40px;}
.nav-tab .nav-item dl dd a.pr50{padding-right:50px;}
.nav-tab .nav-item dl dd a.pr60{padding-right:60px;}
/*publicNav*/
.public-nav{background-color:#0277bb;}
.public-nav .nav-info{position:relative;width:1200px;margin:0 auto;z-index:2;}
.public-nav .nav-info .service{position:absolute;left:0;top:0;width:200px;height:50px;}
.public-nav .nav-info .navHome{position:relative;width:134px;height:50px;padding-left:66px;display:block;background-color:#00588b;color:#fff;font-size:18px;line-height:50px;}
.public-nav .nav-info .navHome b,.nav-info .navHome i{position:absolute;top:50%;overflow:hidden;}
.public-nav .nav-info .navHome b{left:33px;margin-top:-8px;width:21px;height:17px;background-position:-155px -445px;}
.public-nav .nav-info .navHome i{right:33px;margin-top:-4px;width:16px;height:8px;background-position:-214px -445px;}
.public-nav .nav-info .navHome i.down{background-position:-232px -445px;}
.public-nav .nav{height:50px;padding-left:200px;line-height:0;font-size:0;}
.public-nav .nav i{width:1px;height:50px;display:inline-block;background:url(../images/nav-line.png) no-repeat;overflow:hidden;vertical-align:top;}
.public-nav .nav a{display:inline-block;padding:0 27px;color:#fff;font-size:18px;line-height:50px;text-align:center;transition:all .3s;-webkit-transition:all .3s;}
.public-nav .nav a:hover{background-color:#00588b;}
.nav-tab{position:absolute;left:0;top:50px;z-index:2;height:420px;z-index:1;}
.nav-tab .tab{position:absolute;top:0;left:0;width:200px;}
.nav-tab .tab ul{height:420px;overflow:hidden;width:200px;}
.tab a{color:#333;}
.tab a:hover {color: #fff;}
    
.nav-tab .tab li{position:relative;float:left;margin:0;width:132px;height:50px;padding:19px 0 0 68px;border-bottom:1px solid #0166a1;background-color:#0277bb;cursor:pointer;transition:all .3s;-webkit-transition:all .3s;}
.nav-tab .tab li a{color:#fff;font-size:14px;line-height:20px;}
.nav-tab .tab 
.nav-tab .nav-item dl dd a:hover,.nav-tab .nav-item dl dt a:hover{color:#ff9600;text-decoration:underline;}
.nav-tab .nav-img{width:271px;height:350px;padding:30px 100px 0 0;}
.bgImg{background:url(../images/bgImg.png) no-repeat;display:inline-block;}
.bgColor{background-color:#f5f5f5;}
.bgColor2 {background-color:#ebecf6;}
.bgColor3 {background-color:#f2f2f2;}
/*banner*/
.index_show{position: relative;z-index: 1;width: 100%;background: #fff;}
.bxslider{height: 420px;overflow: hidden;width: 100%;}
.bxslider li{width: 100%;height: 420px;overflow: hidden;}
.bx-controls{display: none;}
.banner .bajs-easy-slider-pagination a.active {background-color:#4292c1;}
#bx-pager{position: absolute;left: 50%;bottom: 30px;z-index:10;margin-left: 400px;padding-bottom: 6px;}
#bx-pager a{width:18px;height:22px;line-height:22px;font-size:14px;color:#fff;background-color:#000;display:inline-block;margin:0 5px;opacity:.7;filter: alpha(opacity=70);text-align: center;}
#bx-pager .active{position: relative;background: #fd825c;color: #fff;}
/*特色*/
.block{position:relative;width:100%;}
.w1200{width:1200px;margin:0 auto;}
.ico_nav{overflow: auto}
.ico_nav li{width:200px;height:160px;float:left;text-align: center;border-radius: 8px;transition: all 0.2s linear 0s;-o-transition: all 0.2s linear 0s;-moz-transition: all 0.2s linear 0s;}
.ico_nav li div{width:60px;height:60px;border-radius: 8px;background:#979797;margin:28px auto 15px;}
.ico_nav li:hover div{background: #64c2bd;}
.ico_nav li a{display:block;}
.ico_nav li:hover p{color:#64c2bd!important;}
.ico_nav li p{font-size:16px;font-family: '微软雅黑';color:#333;}
.ico_nav li .en{font-size:12px;font-family:'微软雅黑';color:#333;line-height: 14px;}
/*美齿分享*/
.relative {position:relative;}
.absolute {position:absolute;}
.case_item {padding:60px 0;}
.case_item h2 strong {width: 260px;}
.case_item h2 {font-size: 48px;font-weight: normal;color:#333;text-align: center;line-height: 1.4;margin-bottom: 58px;}
.case_item h2 span {display: block;text-align: center;font-size: 18px;text-align: center;margin-bottom: 20px;}
.case_item h2 strong{display: block;font-weight: normal;text-align: center;font-size: 16px;height: 30px;line-height: 30px;border:1px solid #000;margin:0 auto;}
.casebox{width: 1200px;height:600px;overflow: hidden;position: relative;margin:0 auto;}
.case {margin-top:0px;}
.shareTxt {display:block;line-height:60px;font-size:20px;color:#000;}
.case .links {width:161px;height:22px;border:1px solid #e1e1e1;margin-top:19px;margin-left:13px;display:inline;}
.case .links a {display:block;width:50%;line-height:20px;font-size:14px;color:#666;text-align:center;text-decoration:none;float:left;}
.case .links a:nth-child(1){border-right:1px solid #e1e1e1;}
.picbox {width:1200px;height:600px;}
.picbox ul {width:1200px;height:600px;-moz-transform-style: preserve-3d;-ms-transform-style: preserve-3d;-o-transform-style: preserve-3d;-webkit-transform-style: preserve-3d;transform-style: preserve-3d;-moz-perspective: 1200px;-ms-perspective: 1200px;-o-perspective: 1200px;-webkit-perspective: 1200px;perspective: 1200px;}
.picbox li {width:200px;height:200px;overflow:hidden;float:left;position:relative;cursor:pointer;-moz-transform:translate3d(0,0,-3600px);-ms-transform:translate3d(0,0,-3600px);-o-transform:translate3d(0,0,-3600px);-webkit-transform:translate3d(0,0,-3600px);transform:translate3d(0,0,-3600px);-moz-transition:-moz-transform 0.3s cubic-bezier(0.175, 0.885, 0.470, 1) 0s,opacity 0.4s ease-out 0s;;-webkit-transition:-webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.470, 1) 0s,opacity 0.4s ease-out 0s;transition:transform 0.3s cubic-bezier(0.175, 0.885, 0.470, 1) 0s,opacity 0.4s ease-out 0s;;opacity:0;filter:alpha(opacity:0);}
.picbox li img {position:absolute;left:0;top:0;width:200px;height:200px;}
.picbox li img:first-child{opacity:0;-moz-transition:opacity 0.4s linear 0s;-webkit-transition:opacity 0.4s linear 0s;transition:opacity 0.4s linear 0s;}
.picbox ul.active li {-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0);opacity:1;filter:alpha(opacity:100);}
.picbox ul.active li:hover img:first-child{opacity:1;z-index:2}
.picbox .topTitle {left:0;top:0;width:100%;line-height:26px;font-size:12px;color:#fff;opacity:0;filter:alpha(opacity:0);z-index:3;text-align:center;}
.picbox .topTitle  span {width:33.3%;display:inline-block;padding-left:5px;}
.picbox li p {position:absolute;left:0;bottom:0;width:100%;line-height:24px; background-color:#a0cb46;color:#fff;padding-left:10px;opacity:0;filter:alpha(opacity:0);z-index:3;text-align:center;}
.case li p {padding-left:0;}
.case li p a{display:block;width:100%;text-align:center;color:#fff;text-decoration:none;}
.picbox li:hover .topTitle ,.picbox li:hover p {opacity:1;filter:alpha(opacity:100);}
.picbox li:nth-child(3n) {margin-right:0;}
.case .popBox {left:0;top:0;width:0;height:0;-moz-transition:all .3s cubic-bezier(0.215, 0.61, 0.355, 1)  0s;-webkit-transition:all .3s cubic-bezier(0.215, 0.61, 0.355, 1)  0s;transition:all .3s cubic-bezier(0.215, 0.61, 0.355, 1)  0s;opacity:0;filter:alpha(opacity:0);overflow:hidden; }
.case .popBox.active {width:1200px;height:600px;opacity:1;filter:alpha(opacity:100);}
.case .popContainer {width:1200px;height:600px;overflow:hidden;}
.case .popContent {width:1200px;height:600px;overflow:hidden;display:none;}
.case .popCloseBtn {width:37px;height:37px;right:0px;top:0px;cursor:pointer;}
.case .popImg {width:737px;height:600px; background-color:#FFF;}
.case .popTxt {width:463px;height:600px; background-color:#8c9496;display:-webkit-box;display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-flow:row nowrap;-ms-flex-flow:row nowrap;flex-flow:row nowrap;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;align-items:center;background-color:rgba(0,0,0,.65);}
.case .txt {width:334px;margin-left:64px;}
.case .txt h5 {font-size:29px;color:#a0cb46;line-height:1.5;}
.case .txt h6 {font-size:28px;color:#fff;line-height:1.6;margin-top:12px;}
.case .txt p {font-size:16px;color:#fff;line-height:1.6;position:relative;padding-left:82px;}
.case .txt p:before {content:attr(data-txt);position:absolute;left:0;top:0;font-size:16px;line-height:1.6;color:#fff;}
.case .txt a {display:block;width:198px;height:35px;line-height:35px;text-align:center;font-size:14px;color:#fff;text-decoration:none; background-color:#30993a;margin-top:12px;-moz-transition:all 0.3s linear 0s;-webkit-transition:all 0.3s linear 0s;transition:all 0.3s linear 0s;-moz-transform:translateY(20px);-webkit-transform:translateY(20px);transform:translateY(20px);opacity:0;filter:alpha(opacity:0);}
.case .txt a:hover { background-color:#a0cb46;text-decoration:none;color:#fff;}
.case .popTxt:hover a{-moz-transform:translateY(0);-webkit-transform:translateY(0);transform:translateY(0);opacity:1;filter:alpha(opacity:100);}
.popVideoBox{width:737px;height:600px;overflow:hidden; background-color:#FFF;}
/*动态展示*/
#main{background: #fff;padding:30px;margin:30px auto;}
#main a {color:#6e6d6d;text-decoration:none;cursor:pointer;}
.maintop{height: 400px;}
.focus{width:310px;height:400px;overflow:hidden;}
.turn{height:400px;float:left;overflow:hidden;position:relative;}
.turn #adpica{width:310px;height:400px;overflow:hidden;}
.turn #adpica img{width:310px;height:400px;float:left;overflow:hidden}
.turn #adtipa{height:15px;position:absolute;right: 80px;bottom: 15px;}
.turn #adtipa ul li{box-shadow: -1px -1px 2px #797875;border-radius: 25px;width: 10px;height: 10px;line-height: 10px;float:left;display:inline;margin-right: 15px;cursor:pointer;color:#fff;background: #797875;text-indent: -9999px;}
.turn #adtipa ul li.current{color:#fff;background: #c0966c;border: 1px solid #FFF;}
.turn .hidden{display:none;}
.turn .show{display:block!important;}
#adpica span{display: none;position:absolute;bottom:0;left:0;color:#fff;font-size:14px;height:33px;width:475px;filter:alpha(opacity=90);opacity:0.9;background:#000;text-indent:-9999em}
#adpica p{display: none;position:absolute;bottom:0;left:0;color:#fff;font-size:14px;height:33px;line-height:33px;width:285px;padding-left:5px;font-weight:bold}
.news_1{width:428px;margin-left:70px;display:inline}
.news_1 .btn{width:435px;height:47px;}
.news_1 .btn li{float:left;color:#666;height:44px;text-align:center;margin:0 22px 0 15px;display:inline;line-height:44px;cursor:pointer}
.news_1 .btn .tabin{border-bottom:3px solid #8e6d34;color:#38373f}
.news_1 .con{clear:both;width:435px;height:347px;overflow:hidden}
.news_1 .con .tabcont{float:left;width:428px;height:347px}
#itemtab li{ float:left; /* width:92px; */ height:44px; text-align:center; margin: 0 22px 0 15px;display: inline;line-height: 44px;cursor: pointer;}
#itemtab li a{ display:block; color:#000; line-height: 44px;font-size: 15px;}
#itemtab li a:hover{ color:#8e6d34;text-decoration: none;}
#itemtab li.active{/* width:92px; */height: 44px; border-bottom: 3px solid #8e6d34;color:#8e6d34;}
#itemtab li.active a{ color:#8e6d34;}
.newbt{width: 428px;height: 137px;}
.imgw{ width: 129px; height: 88px; margin: 25px 20px 0px 21px;box-shadow: 2px 2px 8px #616161;}
.imgw a,.exppic img{padding: 3px 0 0 3px;background: #FFF;display: block;}
.imgw img{width: 123px;height: 82px;}
.top_ntxt{ width: 255px; padding-top: 18px;}
.top_ntxt h3{ padding: 4px 0;text-align: center;}
.top_ntxt h3 a{ color:#8e6d34; font-size:15px;}
.top_ntxt p{ color:#000; font-size:12px; padding-right:18px; text-indent:25px; line-height: 22px;}
.top_ntxt p a{ color:#8e6d34;}
.newlist{/* width: 473px; */ margin: 0 15px 0 15px;padding: 13px 0 6px 0;}
.newlist li{height: 32px;overflow: hidden;font: 12px/32px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";}
.newlist li a{float: left;color: #000;
        transition: all 0.5s linear 0s;
        -o-transition: all 0.5s linear 0s;
        -moz-transition: all 0.5s linear 0s;}
.newlist li a:hover,.item_a ul li a:hover{padding-left: 10px;text-decoration: underline;}
.item_a div p a:hover,.top_ntxt p a:hover{text-decoration: underline;}
.newlist li span{float: right;}
.newlist{/* width: 473px; */ margin: 0 15px 0 15px;padding: 13px 0 6px 0;}
.newlist li{height: 32px;overflow: hidden;font: 12px/32px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";}
.newlist li a{float: left;color: #000;
        transition: all 0.5s linear 0s;
        -o-transition: all 0.5s linear 0s;
        -moz-transition: all 0.5s linear 0s;}
.newlist li a:hover,.item_a ul li a:hover{padding-left: 10px;text-decoration: underline;}
.item_a div p a:hover,.top_ntxt p a:hover{text-decoration: underline;}
.newlist li span{float: right;}
.fast_nav_1{margin-top:20px;overflow:auto}
.fast_nav_1>li{width:81px;height:81px;border:1px solid #e1e1e1;float:left;color:#333;text-align:center;transition:all .2s linear 0s;-o-transition:all .2s linear 0s;-moz-transition:all .2s linear 0s}
.fast_nav_1>li>a:hover{color:#fff}
.fast_nav_1>li:nth-child(1){background:url(../images/fast-nav.png) no-repeat;background-position:-12px -81px}
.fast_nav_1>li:nth-child(2){background:url(../images/fast-nav.png) no-repeat;background-position:-81px -81px}
.fast_nav_1>li:nth-child(3){background:url(../images/fast-nav.png) no-repeat;background-position:-152px -81px}
.fast_nav_1 li:nth-child(1):hover{background:#8e6e35 url(../images/fast-nav.png) no-repeat;background-position:-12px -18px;color:#fff}
.fast_nav_1 li:nth-child(2):hover{background:#8e6e35 url(../images/fast-nav.png) no-repeat;background-position:-81px -18px;color:#fff}
.fast_nav_1 li:nth-child(3):hover{background:#8e6e35 url(../images/fast-nav.png) no-repeat;background-position:-152px -18px;color:#fff}
.fast_nav_1>li p{width:81px;height:55px}
.fast_nav_2{margin-top:30px;background:#fff url(../images/fast-nav-1.jpg) no-repeat}
.fast_nav_2>div{text-decoration:none;font-size:24px;font-weight:700;color:#8e6d34;text-indent:55px;line-height:75px}
.fast_nav_3 form{margin:15px auto}
.fast_nav_3 input:nth-child(1){line-height:28px;border:1px solid #e1e1e1;color:#888}
.fast_nav_3 input:nth-child(2){line-height:28px;text-align:center;background:#eb8a00;border-radius:3px;color:#fff;margin-left:5px}
.fast_nav_4{background:#fff url(../images/fast-nav_2.jpg) no-repeat;width:250px}
.fast_nav_4>li{width:50%;float:left;text-indent:36px;line-height:36px}
.fast_nav_4>li>a{font-size:16px}
.w {width: 1120px;margin:0 auto; border: 0;}

#bdnews{padding: 0 3px 0 6px;margin-top: 5px;}
#bdnews ul li{_height: 50px; margin: 0 0 0px 0; cursor: pointer;border-bottom: 1px solid #BDBDBD;}
#bdnews ul li .expt{display:block; width: 428px; height: 41px;line-height: 41px;}
#bdnews ul li .expt a{font-size: 12px;float: left;padding-left: 12px;color: #000;}
#bdnews ul li .expt b{float: right; padding: 0 15px 0 0;font-size: 12px;color: #666;}
#bdnews ul li .expc{display:none;}
#bdnews ul .on{border-bottom: 0;}
#bdnews ul .on .expt{display:none; height:34px; line-height: 34px; color:#000;}
#bdnews ul .on .expc{display:block;height: 137px; line-height: 20px;}
#bdnews ul .on .expt b{color: #FFF; background: none;font-size:14px;text-shadow: 1px 0px #000;}
#bdnews .expc span{ display: block;}
#bdnews .expc .exppic{ width: 129px; height: 88px; margin: 20px 20px 0px 15px;box-shadow: 2px 2px 8px #616161; display: inline;overflow: hidden;}
#bdnews .expc .exppic img{width: 123px;height: 82px;}
#bdnews .expc .exptxt{ width: 255px; padding-top: 20px;}
#bdnews .expc .exptxt h3{width: 235px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color: #8e6d34;/* font-weight: 700; */text-align: center;}
#bdnews .expc .exptxt p{ font: 12px/22px "\5FAE\8F6F\96C5\9ED1","\5B8B\4F53";color: #000;font-size: 12px; padding: 5px 15px 0 0;text-indent: 25px;}
#bdnews .expc .exptxt p a,#bdnews .expc .exptxt h3 a{ height: 20px; width: 255px; overflow: hidden;white-space: nowrap;text-overflow: ellipsis; color: #8e6d34;}
/*技术展示*/
.maintitle2{border-bottom:1px #ddd solid; height:36px;background:url(../images/maintitle2_bg.jpg) no-repeat left center;}
.maintitle2 h3{float:left;line-height:36px;width:80px;height:36px;color:#333;padding-left:15px;}
.maintitle2 span{float:right; width:30px; height:36px; background:url(../images/more.jpg) no-repeat right bottom;}
.maintitle2 span a{ display:block; width:30px; height:36px;}
.gold_tec{width:1100px; height:auto; overflow:hidden; margin:0 auto;}
.gold_tec .side_left{width:100%; height:auto; overflow:hidden; float:left;}
.side_right{width:310px; height:auto; overflow:hidden; float:right;}
.gold_tec .maintitle2{width:100%;}
.gold_tec .maintitle2 h3{width:120px;}
.gold_tec ul{width:100%; height:auto; overflow:hidden;}
.gold_tec ul li{width:213px; height:136px; cursor:pointer; float:left; margin-right:7px; margin-bottom:6px; position:relative; overflow:hidden;}
.gold_tec ul li p{width:100%; height:28px; background:#a21700; line-height:28px; font-size:14px; color:#fff; position:absolute; left:0; bottom:0; text-align:center; z-index:999;}
.gold_tec ul li a.one{width:176px; height:224px; display:inline-block; position:absolute; top:0; left:0;}
.gold_tec ul li div{width:213px; height:136px; overflow:hidden;}
/*项目展示*/
.slide1_box{width:1120px;padding:30px;background:#fff;margin:30px auto}
.slide1_nav{width:1120px;overflow:auto}
.slide1_on{background:#835d0a!important;width:198px!important;height:55px!important;color:#fff}
.slide1_nav li{font-size:18px;width:184px;line-height:55px;float:left;text-align:center;line-height:55px;cursor:pointer;background:#f0f0f0}
.slide1_ul{width:1200%;position:absolute}
.slide1_ul li{width:1120px;height:536px;float:left}
.slide1_ul li a{color: #333}
.slide1_container{width:1120px;height:536px;overflow:hidden;position:relative}
.lm_title{border-bottom:2px solid #ddd;height:55px;margin-bottom:10px;background:url(../images/lm_title_bg.png) no-repeat 0 center;text-indent:10px}
.lm_mc{font-size:20px;color:#000;display:inline-block;line-height:55px}
.lm_en{color:#bbb}
.anli_top{height:328px;margin-top:33px;overflow:auto}
.anli_top_1{width:330px;height:295px;float:left}
.ali_top_1 img{width:100%;}
.anli_top_2{width:385px;height:295px;float:left;margin-left:17px;color:#555}
.anli_top_2 h2{font-size:18px;font-weight:100;text-align:center;line-height:49px;border-bottom:2px solid #ddd}
.anli_top_2 .anli_info1{padding:15px 5px}
.anli_top_2 .anli_info1 span,p{line-height:30px}
.anli_top_2 .anli_info2{border-top:1px dotted #ddd}
.anli_top_2 .anli_info2 p{text-indent:2em;line-height:30px}
.anli_top_3{width:325px;height:295px;border:1px solid #ddd;float:left;margin-left:30px;padding:0 15px;overflow:hidden}
.anli_top_3_1{line-height:40px}.sy_jdal_title{font-size:20px;color:#555;border-bottom:2px solid #555}
.sy_jdal_title_en{font-size:20px;color:#bbb;border-bottom:2px solid #555}
.slide2_nav{width:68px;overflow:auto;float:right}.slide2_on{border:1px solid #b70714!important}
.slide2_nav li{width:66px;height:50px;margin-bottom:10px;border:1px solid #ddd;cursor:pointer}
.slide2_nav li img{width:100%;height:100%}
.slide2_ul{width:1200%;position:absolute}
.slide2_ul li{width:255px;height:238px;float:left}
.slide2_ul li img{width:100%;height:100%}
.slide2_container{width:255px;height:500px;overflow:hidden;position:relative;}
/*zlbz*/
.szhzx{height:435px;width:1120px;margin:0 auto;background:#fff;padding:30px}
.slide6_nav{width:340px;float:left}
.slide6_nav li{background:url(../images/szzx_bg_1.png) no-repeat;width:340px;height:51px;margin-bottom:9px}
.slide6_nav li p{line-height:51px;font-size:17px;text-indent:4em}
.slide6_nav_p1{background:url(../images/index_standard_icon.png) no-repeat 20px 10px;background-position:20px 10px}
.slide6_nav_p2{background:url(../images/index_standard_icon.png) no-repeat 20px 10px;background-position:20px -50px}
.slide6_nav_p3{background:url(../images/index_standard_icon.png) no-repeat 20px 10px;background-position:20px -110px}
.slide6_nav_p4{background:url(../images/index_standard_icon.png) no-repeat 20px 10px;background-position:20px -170px}
.slide6_nav_p5{background:url(../images/index_standard_icon.png) no-repeat 20px 10px;background-position:20px -230px}
.slide6_nav_p6{background:url(../images/index_standard_icon.png) no-repeat 20px 10px;background-position:20px -290px}
.slide6_nav li[class=on]{background:url(../images/szzx_bg_2.png) no-repeat}
.slide6_nav li[class=on] p{background-image:url(../images/index_standard_icon_hover.png)}
.slide6_container{width:774px;height:352px;float:right;overflow:hidden}
.slide6_ul{position:relative}
.slide6_ul li{width:774px;height:353px}
.slide6_ul li:nth-child(1){background:url(../images/szzx_01.jpg) no-repeat}
.slide6_ul li:nth-child(2){background:url(../images/szzx_02.jpg) no-repeat}
.slide6_ul li:nth-child(3){background:url(../images/szzx_03.jpg) no-repeat}
.slide6_ul li:nth-child(4){background:url(../images/szzx_04.jpg) no-repeat}
.slide6_ul li:nth-child(5){background:url(../images/szzx_05.jpg) no-repeat}
.slide6_ul li:nth-child(6){background:url(../images/szzx_06.jpg) no-repeat}
.js_zzc{padding-top:50px;width:100%;height:303px;background:rgba(0,0,0,.4)}
.slide6_ul li p{width:330px;margin-left:50px;color:#fff}
.white{color: #fff;}
.szzx-title{font-size:23px}
.szzx-en{font-size:10px}
.szzx-info{font-size:13px;margin-top:30px}
.slide6_ul li a{display:block;width:91px;height:45px;position:relative;left:52px;top:20px;background:url(../images/js_a_bg.jpg) no-repeat}
/*footer*/
.footer{background: #414141;height:463px;}
.w1120{width:1120px;margin:0 auto;}
.btm_logo_1{width:273px}
.btm_logo_2{width:630px;height:307px;text-align:center}
.btm_logo_3{position:relative;width:215px}
.saomiao{width:180px;height:1px;background:#0ad0ae;display:block;margin-left:21px;position:absolute;top:62px;box-shadow:0 -4px 8px 2px #0ad0ae}
.btm_logo_3 img{width:100%}
.btm_logo_3 p{color:#fff}
.tj_404_top{width:100%;height:715px;background-size:100%;background:url(../images/tj_404_bg.jpg) no-repeat center center;text-align:center;font-size:29px;color:#fff}
.tj_404_top>div{padding:434px}.tj_404_top>a{border-radius:30px;width:120px;height:40px;display:inline-block;margin:9px;margin-top:55px}
.tj_404_body{width:1000px;margin:0 auto}.tj_404_body>h3{font-size:31px;line-height:70px;color:#555;font-weight:100}
.tj_404_body>ul{width:215px;float:left;margin:15px;background:#eee;padding-bottom:10px}
.tj_404_body>ul>li{background:url(../images/tj_404_y.jpg) no-repeat 40px 10px;text-indent:5em}
.tj_404_body>ul>li a{font-size:20px;line-height:35px;color:#555}
.tj_404_body>ul>h2{text-align:center;color:#555;line-height:80px}
.btm_logo_2{width:840px;height:270px;text-align:center}
.btm_logo_2 a{color:#d6d6d6}
.btm_logo_2 ul{float:left;width:130px;text-align:center;padding:0 40px;margin-top:40px}
.btm_logo_2 ul div{font-size:14px;color:#fff;line-height:35px;border-bottom:1px solid #333}
.btm_logo_2 ul div img{margin:0 10px}
.btm_ul{overflow:auto;border-top:1px solid #303030;padding-top:20px}
.btm_ul li{float:left;width:140px;text-align:center;color:#fff}
.footer{background:#414141;height:440px}
.btm_logo_2 ul li{width:140px;line-height:30px}
.box{width:1000px;margin:0 auto}
#footerbtn{width:100%;height:75px;background:url(../images/ftrfx.png) repeat-x;color:#FFF;position:fixed;bottom:-15px;z-index:999999;font-family:"微软雅黑";text-decoration:none}
#footerw{width:1024px;margin:0 auto}
#telf{width:284px;height:32px;float:left;margin:30px 24px 0 24px;display:inline;background:url(../images/ftrx.png) no-repeat -6px -160px}
#huaf{width:299px;height:75px;float:left;margin-right:24px;display:inline}
#zaif{width:106px;height:59px;float:left;margin-top:16px;border-left:1px solid #858585;border-right:1px solid #858585}
#daof,#youha,#youhc,#zuif{width:106px;height:59px;float:left;position:relative}
#daof{border-left:1px solid #858585;border-right:1px solid #858585}
#topf{margin-top:15px;width:46px;height:60px;float:left}
#input-box,#input-but{display:inline-block;float:left;margin-top:27px}
#input-but input{height:38px;width:105px;background:url(../images/input-but.gif) no-repeat;border:0;text-indent:-9999px}
#youha a,#youhc a,#zaif a,#zuif a{display:block;height:59px;color:#FFF;line-height:59px}
#youha a b,#zaif a b{display:block;width:26px;height:26px;float:left;margin:18px 2px 0 8px;background:url(../images/ftrx.png) no-repeat -6px -123px}
#zuif a b{display:block;width:26px;height:26px;float:left;margin:18px 2px 0 8px;background:url(../images/ftrx.png) no-repeat -37px -123px}
#youhc a b{display:block;width:26px;height:26px;float:left;margin:18px 2px 0 8px;background:url(../images/ftrx.png) no-repeat -67px -123px}
.youhd{position:absolute;top:203px;left:-66px;z-index:-1;background:#bf9d5b;width:172px;height:203px}
.youhd a{background:url(../images/ftrxj.png) right center no-repeat;height:38px;padding-left:20px;line-height:38px;border-bottom:1px dashed #D8D8D8}
#topf a{display:block;width:46px;height:60px;text-indent:-9999px;cursor:pointer;background:url(../images/ftrx.png) no-repeat -101px -105px}
#daof,#zuif{margin-top:16px}
#input-box input{height:36px;width:150px;line-height:36px;border:1px solid #cecece;border-radius:5px 0 0 5px;font-size:16px;padding-left:15px}